<h2> This is my first Project of Rails </h2>

Our blog has <%= Article.public_count %> articles and counting!

<table>
 		<tr>
			<td><b>S. No</b></td>
			<td></td>
  		<td><b>Heading</b></td>
			
  	
 		</tr>
	<% @articles.each do |article| %>
		<% unless article.archived? %>
 			<tr>
				<td>
					<p><%= article.id %><p>
				</td><td></td>
  			<td>
				<%= link_to article.heading, article %>
				</td>
				<td></td>
  			
 			</tr>
		<% end %>
	<% end %>
</table>
<br>
<%= link_to "New Article", new_article_path %>
